body {
    background: url("gtr.jpg");
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.3); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

.footerlinks:hover {
        color: #7e9cb1;
    }

#footer1 {
    background: #2d43a3;
}

#footer2 {
    background: #495bc2;
}


