body {
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.3); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    
}

.gap{
    padding-top: 56px;
}

.navbar{
    transition: 0.2s;
}

.navbar-scrolled{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15s);
}

.nav.link {
position: relative;
}

.nav.link::after{
    content: '';
    transition: 0.2s;
    height: 2px;
    width: 100%;
    background-color: greenyellow;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav.link:hover::after{
    opacity: 1;
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(-30px ) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.intro{
    animation: fade-up 0.5s;
}

.bg-img{
    background-position: 50% 50%;
    height: 800px;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);

}

.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

.footerlinks:hover {
        color: #7e9cb1;
    }

#footer1 {
    background: #2d43a3;
}

#footer2 {
    background: #495bc2;
}


